#activity-review {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

#activity-review section {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

#activity-review section section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

#activity-review section section section {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

#list-activity-review {
  display: flex;
  flex-flow: column;
  justify-content: center;
  /* max-width: 400px; */
}

#list-activity-review+ion-button {
  margin-bottom: 80px;
}

#list-activity-review ion-card section ion-img {
  width: 80px;
}

@media only screen and (width <=440) {
  #activity-review {
    min-width: none;
  }
}

.outlined {
  border: 1px solid var(--ion-color-primary);
  border-radius: 5px;
  color: var(--ion-color-primary);
  --background: transparent;
}