#activity-review {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--ion--color--background);
}

#activity-review section {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

#activity-review section section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

#activity-review section section section {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

#list-activity-review {
  display: flex;
  flex-flow: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px
    /* max-width: 400px; */
}

#list-activity-review+ion-button {
  margin-bottom: 80px;
}

#list-activity-review ion-card section ion-img {
  width: 80px;
}

@media only screen and (width <=440) {
  #activity-review {
    min-width: none;
  }
}

.outlined {
  --border-color: var(--ion-color-primary);
  --border-style: solid;
  --border-width: 1px;
  color: var(--ion-color-primary);
  --background: var(--ion--color--background);
  --background-focus: transparent;
}