#modal-activity-edit  section {
    width: 350px;
}

#modal-activity-edit ion-list,#modal-activity-edit ion-list + #modal-activity-edit+div {
    max-width: 480px;
    width: 100%;
}


#modal-activity-edit  ion-img {
    max-width: 160px;
}

#file-input {
    opacity: 0;
    width: 0;
    height: 0;
}


@media only screen and (width >= 900px) {
    #modal-activity-edit {
      --width: 900px;
      --height: 600px;
      --border-radius: 6px;
  
      background-color: rgba(0 0 0 60%);
    }
}