.flex-row {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  gap: 39px;
}

@media only screen and (width>= 650px) {
  #login-modal-card {
    --width: 600px;
    --height: 325px;
    --border-radius: 6px;

    background-color: rgb(0 0 0 60%);
  }

  #social-buttons ion-list {
    flex-direction: row;
  }

  #social-buttons ion-list ion-button {
    width: 30%;
  }
}

.custom-alert {
  max-width: 80vw;
  max-height: 80vh;
}

#login-grid {
  width: 95%;
  margin: 0 2.5%;
}

#login-grid div {
  display: flex;
  justify-content: space-between;
}

#login-grid div div {
  border-bottom: 1px solid var(--color);
  margin: 10px 0;
  width: 40%;
}

#login-grid ion-row ion-label {
  margin-bottom: 5px;
}

#social-buttons ion-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background: var(--ion-color-background);
}

#login-grid ion-row ion-list {
  border-radius: 5px;
  width: 100%;
}

#social-buttons ion-list ion-button {
  width: 100%;
}
