#title-app {
  font-size: 30px;
  --box-shadow: none;
  margin: none;
}

ion-toolbar {
  --background: var(--ion-color-light);
}

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}