#activity-list section ion-searchbar {
  padding: 0;
  --background: var(--ion--color--background);
}

#activity-list section {
  padding: 0 20px;
  /* position: sticky; */
  top: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  background: var(--background);
}

#activity-list ion-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

div.sticky {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
  padding-right: 3px;
  z-index: 100;
  /* background: var(--background); */
}