#activity-list section ion-searchbar {
  padding: 0;
  --background: var(--ion--color--background);
}

#activity-list section {
  padding: 0 20px;
  /* position: sticky; */
  top: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  background: var(--background);
}

#activity-list ion-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap:10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

ion-button.sticky {
  position: sticky;
  bottom: 10px;
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
  z-index: 100;
}
