#card-search {
  height: 100%;
  width: 100%;
  margin-top: 0;

  --background: var(--ion-background-color);
}
#card-search ion-card {
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 221px;
  width: 50%;
  padding-left: 16px;
  padding-right: 10px;
  box-shadow: none;
  background-color: var(--ion--color--background); 
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#card-search .card-text {
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#card-search .main-button {
  color:white;
  --background:var(--ion-color-primary);
}

#card-search ion-card:last-child {
  margin-left: -30%;
}

#card-search ion-card ion-card-title {
  font-size: 18px;
  margin-top: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

#card-search ion-card ion-card-subtitle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

#card-search ion-card ion-text p {
  /* display: block; */
  margin-top: 5%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}

#card-search ion-card ion-card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

@media screen and (max-width: 550px) {
  #card-search ion-card {
    width: 40%;
  }

  #card-search .card-text {
    width: 60%;
  }
  
}


@media only screen and (width<= 340px) {
  #card-search ion-card p {
    font-size: 0;
  }

  #card-search ion-card ion-card-content * {
    font-size: 10px;
  }

  #card-search {
    height: 150px;
    min-height: 150px;
    margin-bottom: 10px;
  }

  #card-search ion-card {
    height: 150px;
    min-height: 150px;
    padding-left: 5px;
    padding-right: 5px;
  }

  #card-search ion-card ion-card-content {
    position: fixed;
    bottom: 5px;
  }
}
