table{
    width: 100%;
}

tr, td {
    border: 1px solid var(--ion-color-primary);
    vertical-align: middle;
    text-align: center;
    overflow: auto;
    white-space: nowrap;
    max-width: 130px;
    height: 50px;
    padding: 10px;
}

th {
    border: 1px solid var(--ion-color-secondary);
    background-color: var(--ion-color-secondary);
    color: white;
    max-height: 20px;
    position: sticky;
    top: 57px;
    left: 0;
    z-index: 1000;
}

ion-split-pane{
    --border: 0px;
}

header{
    background-color: var(--ion-color-secondary);
    color: white;
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
}