.limits-content {
  max-width: 1300px;
  margin: auto;
}

.toolBar-content {
  max-width: 1300px;
  margin: auto;

  align-items: center;
  display: flex;
  justify-content: space-between;
}

ion-footer ion-toolbar {
  --background: var(--ion--color--footer);
  color: white
}

a {
  text-decoration: none;
}

h2 {
  margin: 0
}

ion-card {
  box-shadow: none;
}

body.dark input[type="date"]::-webkit-calendar-picker-indicator {
  color-scheme: dark;
}

body.dark input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  color-scheme: dark;
}

#pageWeb ion-content>div {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  grid-template-columns: 1fr;
}

.resize label div textarea {
  resize: vertical !important;
  width: 100% !important;
  outline: none !important;
}

ion-title {
  position: unset;
}

@media screen and (min-width: 900px) {
  body {
    scrollbar-color: var(--ion-color-primary) var(--ion-background-color);
  }

  body.dark {
    scrollbar-color: var(--ion--color--background) var(--ion-background-color);
  }
}