body{
  scrollbar-color: var(--ion-color-primary) var(--ion--color--background);
}

.limits-content {
    max-width: 1300px; 
    margin: auto;
}

.toolBar-content {
  max-width: 1300px; 
  margin: auto;

  align-items: center;
  display: flex;
  justify-content: space-between;
}

ion-footer ion-toolbar {
  --background: var(--ion--color--footer);
  color:white
}

a {
  text-decoration: none;
}

h2{
  margin:0
}

/* @media screen and (max-width: 1300px) {
  h2 {
    margin-left: 10px;
  }
  
} */

#pageWeb ion-content > div{
  display: grid;
  grid-template-rows: auto 1fr auto; 
  min-height: 100vh;
  grid-template-columns: 1fr;
}

.resize label div textarea{
  resize: vertical !important;
  width: 100% !important;
  outline: none !important;
}
