#reservation-list ion-card ion-card-content {
  display: flex;
  flex-direction: row;
  margin-bottom: -15px;
}

#reservation-list ion-card ion-card-content ion-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--background-color);
  padding: 0;
}

#reservation-list ion-card ion-item {
  --background: var(--background-color);

  width: 100%;
  margin: 0;
}

#reservation-list ion-card ion-item * {
  width: 100%;
}

#reservation-list ion-card {
  margin-top: 5px;
  margin-bottom: 0;
}

#reservation-list ion-row {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 2;
  background: var(--background);
}

#reservation-list div ion-row {
  top: 18px;
  z-index: 1;
}

#reservation-list {
  background: var(--ion-color-background);
  max-width: 1200px;
  margin: auto;
}

ion-card-content .img {
  object-fit: cover;
  aspect-ratio: 4/3;
  margin-bottom: -10px;
}