#activity-info {
  height: fit-content;
  background: var(--ion--color--background);
  padding: 10px;
  border-radius: 8px;
  margin: 20px;
  width: 100%;
}

#activity-info ion-row {
  display: flex;
  flex-direction: column;
}

#activity-info div {
  display: flex;
  gap: 20px;
}

#activity-info div ion-button {
  width: 20%;
  min-width: 150px;
}

#activity-info section>ion-button {
  width: 100%;
}

#activity-info ion-row ion-text {
  width: 100%;
}

@media only screen and (width <=900px) {
  #activity-info section.sticky {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    padding-bottom: 2dvh;
    background-color: var(--background);
  }

  #activity-info {
    min-width: auto;
    width: 100%;
    max-width: none;
  }
}